*.pyc
*.yaml
*.toml

.vscode/*
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
#!.vscode/extensions.json

# OSX hidden files
.DS_Store
app/data/db.yaml
settings.yaml
app/data/db.toml
settings.toml
