{% extends "base.html" %}

{% block title %}Snips - Devices{% endblock %}

{% block page_content %}

<style>
    html, body { height: 100%; margin: 0; padding: 0; }
    .container { display: table; }
    .content { height: 100%; }
    .container { width: 100%; padding-right: 0px; padding-left: 0px;}
    .table {margin-bottom: 0px;}
    
</style>

{% if MQTT == "NO" %}
    <div class="page-header mt-3">
        <div class="alert alert-danger" role="alert">
            Can not connect to the MQTT Server. Check your config file settings.
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col-sm-6 mt-3">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Device Manager</h5>
            <p class="card-text">Quick access to viewing important information about a snips device on the network.</p>
            <p class="card-text">You can manage system logs, snips toml file settings, snips services states, snips assistants, and general information about the device software and system.</p>
            <a href="/device" class="btn btn-primary">Device Manager</a>
        </div>
        </div>
    </div>
    <div class="col-sm-6 mt-3">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Setup a New Device</h5>
            <p class="card-text">Also ready have a device setup, but the Web Admin did not auto find it - you can add it manually here.</p>
            <p class="card-text">Or you can plug in a newly setup device on the network, and choose to install the Snips services for a single device or a satellite snips device.</p>
            <a href="/info?new" class="btn btn-primary">New Device</a>
        </div>
        </div>
    </div>

    <div class="col-sm-6 mt-3">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Snips MQTT Watch</h5>
            <p class="card-text">View MQTT messages in real time. Filter devices to display only the messages you want to view.</p>
            <p class="card-text">This feature is great for debugging.</p>
            <a href="/watch" class="btn btn-primary">Watch</a>
        </div>
        </div>
    </div>
    <div class="col-sm-6 mt-3">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Generate Console Training Data</h5>
            <p class="card-text">Build training data fast.</p>
            <p class="card-text">With just a few lines you can quickly build a set of different training sentences.</p>
            <a href="/generator" class="btn btn-primary">Generate</a>
        </div>
        </div>
    </div>

        <div class="col-sm-6 mt-3">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">Web Admin Settings</h5>
                <p class="card-text">Check the MQTT setup in the settings.toml file for this Web Admin.</p>
                <p class="card-text">Check to see that the MQTT is working.</p>
                <p class="card-text">Manage the list of devices known to Web Admin.</p>
                <a href="/info" class="btn btn-primary">Settings</a>
            </div>
            </div>
        </div>
        
    </div>

{% endblock %}