{% extends "base.html" %}

{% block title %}Snips - Injection{% endblock %}

{% block page_content %}
<style>
    #installlogview {padding: 10px; white-space: nowrap; display: block;  overflow-y:scroll; height:200px;background-color:#444; color: white; text-align: left; font-size: 14px; font-family: monospace;}

</style>
<div>
        {% if canInject == "NO" %}
            <br>
            <div class="alert alert-warning" role="alert">
                <table style="width: 100%"><tr>
                    <td>Snips ASR Injection service is not installed</td>
                    <td style="text-align: right;">
                        <button class="btn btn-secondary btn-sm" onclick="btnInstallClick()" style="width: 100px;" type="button" id="btnInstall" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#updateModalCenter">
                            Install
                        </button>
                    </td>
                </tr></table>
                
            </div>
        {% elif canInject == "YES" %}
            <div class="card mt-3">
                <div class="card-header">
                    <b>Dynamic Vocabulary Slot Injection</b>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="FormControlSelect1">Select Operation</label>
                        <select class="form-control" id="operation">
                            <option value="add">Add</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="FormControlSelect2">Select Slot Entity</label>
                        <select class="form-control" id="slot">
                            {% for item in slots %}
                                <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    Slot Items
                    <textarea id="slotsText" style="width:100%; height:130px;" placeholder="one new item per line"></textarea>

                    <button type="button" class="btn btn-secondary mt-2" style="width:100px;" id="btnRun" onclick="btnRun()">Run</button>
                </div>
            </div>
        {% else %}
            <br>
            <div class="alert alert-danger" role="alert">
                {{ canInject|safe }}
            </div>
        {% endif %}
    
</div>
<!-- Modal install snips asr injection services-->
<div class="modal fade" id="updateModalCenter" tabindex="-1" role="dialog" aria-labelledby="installModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="installModalCenterTitle">Installing Snips-ASR-Injection</h5>
        
        </div>
        <div class="modal-body" id="msgbody">
            <div id="msginstallcomplete" style="display: none;">
                
            </div>
            
            <div id="installmessage">
                <div name="installlogview" id="installlogview" contenteditable="false">
                    
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="btnInstallClose" onclick="btnClose()" data-dismiss="modal" style="visibility: hidden;">Close</button>
        </div>
    </div>
    </div>
</div>


<script>

    var socket = io.connect('http://' + document.domain + ':' + location.port + '/injection');

    function btnInstallClick() {
        socket.emit('installsnipsasrinjection', { 'a': 'b' });
    }

    function btnRun() {
        var condSelected = document.getElementById("operation").value;
        var slotSelected = document.getElementById("slot").value;
        var lines = $('#slotsText').val().split('\n');
        var text = [];
        for(var i = 0;i < lines.length;i++){
            //code here using lines[i] which will give you each line
            if (lines[i] != '') {
                text += "\"" + lines[i] + "\",";
            }
        }

        if (text.length > 0) {
            socket.emit('runinjection', { 'condition': condSelected, 'slot': slotSelected, 'items': text});
        }
        else {
            alert('No slot items have been entered!');
        }
        
    }

    //socket returning apt-get updating snips info
    socket.on('updatingSnipsASRInjectionInstalling', function (msg) {
        var ed = document.getElementById("installlogview");
        ed.innerHTML += msg;
        ed.scrollTop = ed.scrollHeight;
    });

     //socket apt-get complete.. show close button
     socket.on('installingComplete', function (msg) {
        var btn = document.getElementById("btnInstallClose");
        btn.style.visibility = 'visible';
    });
    
    //socket injection complete.. notify user
    socket.on('injectionsComplete', function (msg) {
        alert("Injection has been sent to the ASR!");
        var ed = document.getElementById("slotsText");
        ed.value = "";
    });

    function btnClose() {
        //install either complete or failed.. reload page
        window.location.reload(true); 
    }

</script>

{% endblock %}